<!DOCTYPE html>
<html>

<head>

    {include file="public/head"}

</head>

<body>

<div id="wrapper">
    {include file="public/navbar-static-side"}
    <div id="page-wrapper" class="gray-bg">
        {include file="public/navbar-static-top"}
        {include file="public/page-heading"}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>自定义响应表 </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config option 1</a>
                                    </li>
                                    <li><a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>编号 </th>
                                        <th>名称 </th>
                                        <th>讲演者</th>
                                        <th>讲演时间</th>
                                        <th>讲演时间_中文</th>
                                        <th>讲演地点</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="list" id="vo"}
                                    <tr>
                                        <td><input type="checkbox"  checked class="i-checks" name="input[]"></td>
                                        <td>{$vo.num}</td>
                                        <td>{$vo.title}</td>
                                        <td>{$vo.author}</td>
                                        <td>{$vo.speech_date}</td>
                                        <td>{$vo.speech_date_cn|default="一九八四年十二月"}</td>
                                        <td>{$vo.adress}</td>
                                        <td><a href="{:url('index/index/bhtml',array('id'=>$vo.id))}" class="btn btn-xs btn-info">生成一个页面</a></td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                                共{$list->total()}条
                            </div>
                           {$list->render()|raw}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {include file="public/page-footer"}
    </div>
</div>


{include file="public/script"}


<!-- Peity -->
<script src="__INSPINIA__/js/plugins/peity/jquery.peity.min.js"></script>

<!-- iCheck -->
<script src="__INSPINIA__/js/plugins/iCheck/icheck.min.js"></script>

<!-- Peity -->
<script src="__INSPINIA__/js/demo/peity-demo.js"></script>


<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>

</body>

</html>
